body {
    background-color: #D3D3D3;
    background-size: auto auto;
}  

.jumbotron {
    background-image: url("greenBacteria.jpg");
    background-size: cover;
    text-align: center;
    font-family: "Times New Roman";
    color: #f7f7f7;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}